<div
  class="fixed inset-y-0 left-0 z-30 w-56 overflow-y-auto transition duration-300 ease-out transform translate-x-0 border-r border-gray-800 lg:translate-x-0 lg:static lg:inset-0 h-full bg-black"
  [ngClass]="{'translate-x-0 ease-out': isOpen, '-translate-x-full ease-in': !isOpen}">
  <div class="flex items-center px-6 mt-8">
    <div class="flex items-center gap-4">
      <div class="size-10 bg-[#FFE4C8] rounded-full flex items-center justify-center mx-auto">
        <lucide-icon [img]="Play" class="w-6 h-6 text-black fill-current" />
      </div>
      <span class="text-2xl font-semibold">Sonia</span>
    </div>
  </div>

  <nav class="mt-10">
    <a *ngFor="let item of menuItems"
      class="flex items-center px-6 py-2 m-2 rounded-md hover:bg-white/10 transition-colors duration-200"
      href="{{item.name.toLocaleLowerCase()}}">
      <ion-icon name="{{item.icon}}" class="size-5"></ion-icon>
      <span class="mx-3">{{item.name}}</span>
    </a>
  </nav>
</div>

<div class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"
  [ngClass]="{'block': isOpen, 'hidden': !isOpen}" (click)="onToggleSidebar()">
</div>
