<div class="fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 ease-out transform translate-x-0 bg-white border-r-2 lg:translate-x-0 lg:static lg:inset-0"
    [ngClass]="{'translate-x-0 ease-out': isOpen, '-translate-x-full ease-in': !isOpen}">
    <div class="flex items-center justify-center mt-8">
        <div class="flex items-center">
            <span class="text-2xl font-semibold text-gray-800">Sidebar</span>
        </div>
    </div>

    <nav class="mt-10">
        <a *ngFor="let item of menuItems"
            class="flex items-center px-6 py-2 mt-4 text-gray-600 hover:bg-gray-100 hover:text-gray-700 transition-colors duration-200"
            href="#">
            <span class="mx-3">{{item.name}}</span>
        </a>
    </nav>
</div>

<div class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"
    [ngClass]="{'block': isOpen, 'hidden': !isOpen}" (click)="onToggleSidebar()">
</div>