<div class="flex h-screen bg-black  text-white">

  <app-sidebar [isOpen]="isSidebarOpen" (toggleSidebar)="toggleSidebar()"></app-sidebar>

  <div class="flex-1 flex flex-col overflow-hidden">

    <!--TODO: bg should be set dynamically by the musicThumbnail-->
    <div class="grid bg-[#1a2942] grid-rows-[auto,1fr] h-full">
      <header class="flex items-center justify-between p-2">
        <ion-button class="md:invisible" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button fill="clear" shape="round">
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        </ion-button>
      </header>

      <main class="grid grid-rows-[auto,auto,auto,auto] justify-center pt-4 text-center">

        <img src="/assets/songs/reflect.jpg" class="w-64 h-64 rounded-2xl">

        <!--Song info-->
        <div clas="flex h-10 w-10 text-center bg-white">
          <h2 class="text-2xl font-bold mb-2">Reflect</h2>
          <p class="text-white/90">Gawr gura</p>
        </div>
        <!--Song info-->

        <div class="space-y-2 text-sm text-white/80 max-h-[30vh] overflow-hidden">
          <p>Εκ λόγου άλλος εκβαίνει λόγος</p>
          <p>水面に映る自分が言った</p>
          <p>「ああ わたしは悪いサメです」</p>
          <p>ずっと恐れていた 赤く光るその目</p>
          <p>海の底 暗闇に消えていく</p>
          <p>どうして (Your tired eyes)</p>
          <p>落ちてゆく (Begin to fall)</p>
          <p>Εκ λόγου άλλος εκβαίνει λόγος</p>
          <p>水面に映る自分が言った</p>
          <p>「ああ わたしは悪いサメです」</p>
          <p>ずっと恐れていた 赤く光るその目</p>
          <p>海の底 暗闇に消えていく</p>
          <p>どうして (Your tired eyes)</p>
          <p>落ちてゆく (Begin to fall)</p>
          <p>Εκ λόγου άλλος εκβαίνει λόγος</p>
          <p>水面に映る自分が言った</p>
          <p>「ああ わたしは悪いサメです」</p>
          <p>ずっと恐れていた 赤く光るその目</p>
          <p>海の底 暗闇に消えていく</p>
          <p>どうして (Your tired eyes)</p>
          <p>落ちてゆく (Begin to fall)</p>
          <p>Εκ λόγου άλλος εκβαίνει λόγος</p>
          <p>水面に映る自分が言った</p>
          <p>「ああ わたしは悪いサメです」</p>
          <p>ずっと恐れていた 赤く光るその目</p>
          <p>海の底 暗闇に消えていく</p>
          <p>どうして (Your tired eyes)</p>
          <p>落ちてゆく (Begin to fall)</p>
        </div>

        <!--Control Buttons-->
        <div class="flex justify-center items-center gap-8 pt-4">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="play-skip-back-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="play-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="play-skip-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </main>

    </div>

  </div>