<div class="flex h-screen bg-black  text-white">

  <app-sidebar [isOpen]="isSidebarOpen" (toggleSidebar)="toggleSidebar()"></app-sidebar>

  <div class="flex-1 flex flex-col overflow-hidden">

    <!--TODO: bg should be set dynamically by the musicThumbnail-->
    <div class="grid grid-rows-[auto,1fr] h-full" style="background-color: {{bgColor}}">
      <header class="flex items-center justify-between p-2">
        <ion-button (click)="goBack()" class="md:invisible" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </header>

      <main class="grid grid-rows-[auto,auto,auto,auto,auto] justify-center pt-4 text-center">

        <img src="{{song.imageUrl}}" class="w-64 h-64 rounded-2xl">

        <!--Song info-->
        <div clas="flex h-10 w-10 text-center bg-white">
          <h2 class="text-2xl font-bold mb-2">{{song.songName}}</h2>
          <p class="text-white/90">{{song.artist}}</p>
        </div>
        <!--Song info-->

        <div class="space-y-2 text-sm text-white/80 max-h-[30vh] overflow-hidden my-8">
          <p *ngFor="let sentence of song.lyrics">{{sentence}}</p>
        </div>

        <!--Control Buttons-->
        <div>
          <div class="flex gap-2 justify-center">
            <p>{{ currentTimeDisplay() }}</p>
            <input class="" type="range" [value]="currentTime()" [max]="duration()" (input)="inputUpdate($event)">
            <p>{{ durationDisplay() }}</p>
          </div>

          <div class="flex justify-center items-center gap-8 pt-4">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="play-skip-back-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="playPause()" fill="clear">
              <ion-icon slot="icon-only" name="{{ playing ? 'pause-outline' : 'play-outline' }}"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="play-skip-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </div>

      </main>

    </div>

  </div>
