<div class="flex h-screen bg-black text-white">
  <app-sidebar [isOpen]="isSidebarOpen" (toggleSidebar)="toggleSidebar()"></app-sidebar>

  <div class="flex-1 flex flex-col overflow-hidden">

    <header class="flex items-center align-start md:ml-2 md:justify-center p-4">
      <ion-button class="block lg:hidden" (click)="toggleSidebar()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
      <!--<ion-button class="block md:hidden" routerDirection="none" [routerLink]="['/search']" fill="clear" shape="round">-->
      <!--  <ion-icon slot="icon-only" name="search-outline"></ion-icon>-->
      <!--</ion-button>-->

      <div class="w-full lg:w-[500px]">
        <app-search></app-search>
      </div>

      <!--<button [routerLink]="['/search']"-->
      <!--  class="hidden md:flex items-center text-start p-2 rounded-md bg-white/10 border-gray-800 w-[500px]"-->
      <!--  value="Search..">-->
      <!--  <ion-icon name="search-outline" class="mr-2"></ion-icon>-->
      <!--  Search...-->
      <!--</button>-->
    </header>

    <main class="flex-1 px-4 md:px-16 py-2 md:py-8 space-y-8">
      <section>
        <h2 class="text-2xl font-semibold mb-4">Popular songs</h2>

        <ion-row scrollX="true" class="scroll-items">
          <ion-col size="auto" *ngFor="let song of popularSongs">
            <app-song-item imageUrl="{{song.imageUrl}}" songName="{{song.songName}}" artist="{{song.artist}}" />
          </ion-col>
        </ion-row>

      </section>

      <section>
        <h2 class="text-2xl font-semibold mb-4">Recently listened</h2>

        <ion-row scrollX="true" class="scroll-items">
          <ion-col size="auto" *ngFor="let song of recentlyListened">
            <app-song-item [imageUrl]="song.imageUrl" [songName]="song.songName" [artist]="song.artist" />
          </ion-col>
        </ion-row>

      </section>
    </main>

  </div>
</div>
